body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(23, 146, 109);
    height: 100vh;
}

.icon
{
    height: 60px;
    width: 60px;
    display: block;
    margin: auto;
    border-radius: 15px;

}
.container
{
    max-width: 955px;
    margin: auto;
    background-color: aquamarine;
    height: 75vh;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: auto;
}
.message
{
   background-color: cadetblue;
   max-width: 40%;
   word-break: break-all;
   padding: 10px 5px;
   border-radius: 6px;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
}
.left
{
  float: left;
  clear: both;  
}
.right
{
   float: right;
   clear: both;
}

#send_container
{
    text-align: center;
    max-width: 980px;
    width: 100%;
    margin: auto;
    display: block;

}
#messageInp
{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: 0ch;
    background-color: cadetblue;
    padding: 10px 20px;
}

#send_container>input:focus{
  outline: none;
}

.btn
{
    cursor: pointer;

}
.icon-img
{
    height: 18px;
    width: 18px;
}

.send
{
    margin-top: 10px;
    
}